{% extends 'base.html.twig' %}

{% block body %}

    {% if msg is defined %}
        <p style="background: #ff0656" >{{ msg }}</p>
    {% endif %}

    <div style="margin: 100px;">

        <table>
            <tr>
                <th>Nazwa</th>
                <th>Cena</th>
                <th>Ilość</th>
            </tr>
            {% for c in cartItems %}
                <tr>
                    <td>{{ c.product.name  }}</td>

                    <td>{{ c.product.price }} zl</td>
                    <td>{{ c.quantity}} szt</td>
                    <td>

                        <form method="post">
                            <input formaction="{{ path('delete_cart_item', {'cart_item_id':c.id}) }}" type="submit" value="Usuń" />
                            <input formaction="{{ path('set_cart_item_size', {'cart_item_id':c.id, 'quantity':c.quantity+1}) }}" type="submit" value="+" />
                            <input formaction="{{ path('set_cart_item_size', {'cart_item_id':c.id, 'quantity':c.quantity-1}) }}" type="submit" value="-" />
                        </form>


                    </td>

                </tr>



            {% endfor %}



            <tr>
                <td>Razem</td>

                <td>{{ total_price }} zl</td>
                <td>{{ total_quantity }} szt</td>
                <td></td>

            </tr>



        </table>




        <h1>Dane do zamówienia</h1>
        <form method="post"action="{{ path('order_checkout') }}">

            <p><input type="text" name="name" value="" placeholder="Imię i nazwisko"></p>
            <p><input type="text" name="city" value="" placeholder="Miasto"></p>
            <p><input type="text" name="post_code" value="" placeholder="Kod pocztowy"></p>
            <p><input type="text" name="street" value="" placeholder="Ulica"></p>

            <p class="submit"><input type="submit" name="commit" value="Zamów"></p>
        </form>








    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}
