<div class="header">
    <div class="container">
        <div class="head">
            <div class=" logo">
                <a href="index.html"><img src="images/logo.png" alt=""></a>
            </div>
        </div>
    </div>




    <div class="header-top">
        <div class="container">
            <div class="col-sm-5 col-md-offset-2  header-login">
                {% if account is defined %}
                    <ul >
                        <li><a href="#">{{ account.login }}</a></li>
                        <li><a href="{{ path('logout') }}">Logout</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                    </ul>
                {% else %}
                    <ul >
                        <li><a href="{{ path('login_form') }}">Login</a></li>
                        <li><a href="{{ path('register_form') }}">Register</a></li>

                    </ul>
                {% endif %}

            </div>



            <div class="col-sm-5 header-social">
                <ul >
                    <li><a href="#"><i></i></a></li>
                    <li><a href="#"><i class="ic1"></i></a></li>
                    <li><a href="#"><i class="ic2"></i></a></li>
                    <li><a href="#"><i class="ic3"></i></a></li>
                    <li><a href="#"><i class="ic4"></i></a></li>
                </ul>

            </div>
            <div class="clearfix"> </div>
        </div>
    </div>



    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav nav_1">
            <li><a class="color" href="">Strona główna</a></li>

            <li class="dropdown mega-dropdown active">
                <a class="color2" href="#" class="dropdown-toggle" data-toggle="dropdown">Kategorie<span class="caret"></span></a>
                <div class="dropdown-menu mega-dropdown-menu">
                    <div class="menu-top">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>Submenu1</h4>
                                <ul>
                                    <li><a href="product.html">Accessories</a></li>
                                    <li><a href="product.html">Bags</a></li>
                                    <li><a href="product.html">Caps & Hats</a></li>
                                    <li><a href="product.html">Hoodies & Sweatshirts</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <li><a class="color3" href="{{ path('products') }}">Produkty</a></li>
            <li><a class="color3" href="{{ path('my_order') }}">Moje zamówienia</a></li>
            <li><a class="color4" href="404.html">O nas</a></li>
            <li ><a class="color6" href="contact.html">Kontakt</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->


</div>
