{% extends 'admin.html.twig' %}

{% block body %}


    <div style="margin: 100px;">

        <table>
            <tr>
                <th>Id</th>
                <th>Użytkownik</th>
                <th>Cena</th>
                <th>Stan</th>
            </tr>
            {% for o in orders %}
                <tr>
                    <td>{{ o.id  }}</td>
                    <td>{{ o.account.login }} </td>
                    <td>{{ o.totalPrice }} zl</td>
                    <td>{{ o.state}} </td>

                    <td>

                <form method="POST" action="{{ path('admin_order_edit',{'order_id':o.id}) }}">

                    <p><select name ='state'>
                                <option value="1"> Oczekujące</option>
                            <option value='2'> Wysłane </option>
                            <option value='3'> Zakończone </option>
                        </select></p>

                    <p class="submit"><input type="submit" name="commit" value="Zapisz"></p>
                    <p class="submit"><input type="submit" name="commit" formaction="{{ path('admin_order_info', {'order_id': o.id }) }}" value="Więcej info"></p>

                </form></td>
                </tr>
            {% endfor %}



        </table>


    </div>

{% endblock %}

{% block stylesheets %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
{% endblock %}
